<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="footer">
		<div class="container-fluid" style="background-color: #27272a; margin-top: 30px; color: white; font-size: 14px; height: 600px;">
			<div class="container">
				<div class="row" >
					<div class="col" style="margin-top: 30px;">
						<h5>ĐĂNG KÝ NHẬN THÔNG TIN</h5>
						<p>Đăng ký ngay để là người đầu tiên cập nhật sớm nhất những tin tức thời trang, những bộ sưu tập cũng như ưu đãi hấp dẫn từ BLOOK</p>
					</div>
					
					<div class="col" style="margin-top: 30px;">
						<div class="input-group mb-3" style="margin-top: 22px;">
						  	<input type="text" class="form-control" placeholder="Vui lòng nhập email của bạn!" aria-describedby="basic-addon1" style="font-size: 14px;">
						  	<button type="submit" class="btn btn-success input-group-text" style="font-size: 14px;">Đăng ký</button>
						</div>
					</div>
					
					<hr style="border: 2px solid #38bdf8;">
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col col-footer">
						<h5>PHƯƠNG THỨC THANH TOÁN</h5>
					</div>
					
					<div class="col col-footer">
						<h5>DANH MỤC SẢN PHẨM</h5>
						<a href="#">TẤT CẢ SẢN PHẨM</a> <br>
						<a href="#">ÁO POLO BASIC</a> <br>
						<a href="#">ÁO POLO SLIMFIT</a> <br>
						<a href="#">ÁO POLO PREMIUM</a> <br>
						<a href="#">ÁO THUN CỔ TRÒN</a> <br>
						<a href="#">SẢN PHẨM THỂ THAO</a> <br>
						<a href="#">QUẦN JEAN</a> <br>
						<a href="#">QUẦN KAKI</a> <br>
						<a href="#">QUẦN SHORT</a> <br>
						<a href="#">ĐỒ LÓT &#38; PHỤ KIỆN</a> <br>
						<a href="#">SƠ MI</a> <br>
					</div>
					
					<div class="col col-footer">
						<h5>VỀ CHÚNG TÔI</h5>
						<a href="#">Giới thiệu</a> <br>
						<a href="#">Cam kết bán hàng</a> <br>
						<a href="#">Hướng dẫn chọn size</a> <br>
						<a href="#">Chính sách đổi/trả hàng</a> <br>
						<a href="#">Chính sách thẻ thành viên</a> <br>
						<a href="#">Hệ thống cửa hàng</a> <br>
						<a href="#">Chính sách giao hàng/kiểm hàng</a> <br>
						<a href="#">Chính sách bảo mật thông tin</a> <br>
						<a href="#">Điều khoản sử dụng</a> <br>
					</div>
					
					<div class="col col-footer">
						<h5>TỔNG ĐÀI GỌI HỖ TRỢ</h5>
						<span>Mua hàng online: <a href="#">0359567792</a></span> <br>
						<span>Góp ý, khiếu nại: <a href="#">0359567792</a></span> <br>
						
						<h5 style="margin-top: 10px;">KẾT NỐI VỚI CHÚNG TÔI</h5>
						<ul style="padding-left: 0px;" class="row">
							<li>
								<a href="https://www.facebook.com/blook.vietnam" target="_blank" rel="nofollow">
									<img data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="social" 
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
									width="30" height="30">
								</a>
							</li>
							
							<li>
								<a href="https://shopee.vn/blook.vn" target="_blank" rel="nofollow">
									<img data-src="https://seeklogo.com/images/S/shopee-logo-DD5CAE562A-seeklogo.com.png" alt="social" 
									src="https://seeklogo.com/images/S/shopee-logo-DD5CAE562A-seeklogo.com.png" width="30" height="30">
								</a>
							</li>
								
							<li>
								<a href="https://tiki.vn/cua-hang/blook?t=store" target="_blank" rel="nofollow">
									<img data-src="https://thatsnotokcupid.com/wp-content/uploads/2019/07/b26e8c835808.png" alt="social"
									 src="https://thatsnotokcupid.com/wp-content/uploads/2019/07/b26e8c835808.png" width="30" height="30">
								</a>
							</li>
								
							<li>
								<a href="https://www.lazada.vn/shop/blook" target="_blank" rel="nofollow">
									<img data-src="https://lzd-img-global.slatic.net/g/p/68a3c135bd49ae699e90a4da955b7ffb.png_720x720q80.jpg_.webp" alt="social"
									src="https://lzd-img-global.slatic.net/g/p/68a3c135bd49ae699e90a4da955b7ffb.png_720x720q80.jpg_.webp" width="30" height="30">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="container">
				<h5>BLOOK</h5>
				<p>Công Ty Cổ Phần Bán Lẻ Inmode MST: 0359567792 Cấp ngày 5/10/2017 Địa chỉ: Số 11A Hồng Hà, Phường 2, Quận Tân Bình, 
				Thành phố Hồ Chí Minh, Việt Nam Cơ quan cấp: Phòng Đăng Kí Kinh Doanh - Sở Kế Hoạch và Đầu Tư Tp Hồ Chí Minh Hotline: 0359 567 792</p>
				
				<div class="logo-bct">
					<a href="http://online.gov.vn/Home/WebDetails/97012" target="_blank"><img style="width: 140px;" src="//theme.hstatic.net/200000282921/1000966150/14/logo-bct.png?v=186" alt="Bộ công thương"></a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>