<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="blog">
		<div class="container" style="margin-top: 35px;">
			<h2 class="text-center">BỘ SƯU TẬP &#38; BLOG</h2>
		  	<div class="row">
		    	<div class="col-4">
		     	 	<div class="card" style="border: none;">
		     	 		<div class="card-header text-center">
		     	 			<img src="/img/Blog1.webp" width="350" height="540">
		     	 		</div>
		     	 		
		     	 		<div class="card-body" style="height: 320px;">
		     	 			<b>ÁO POLO - BIỂU TƯỢNG MẠNH MẼ CỦA NGƯỜI ĐÀN ÔNG THỜI ĐẠI MỚI</b>
		     	 			<p>1. Nguồn gốc, ý nghĩa của chiếc áo Polo 
							Polo là một kiểu áo được kết hợp bởi form dáng thoải mái, năng động của áo phông và cổ bẻ lịch sự của chiếc áo sơ mi. 
							Sự kết hợp tưởng chừng rất đối lập nhưng lại rất hài hòa tạo nên một chiếc áo với phong cách năng động và vẫn giữ được nét lịch sự 
							và thanh lịch.</p>
		     	 		</div>
		     	 	</div>
		   	 	</div>
		   	 	
		    	<div class="col-4">
		      		<div class="card" style="border: none;">
		     	 		<div class="card-header text-center">
		     	 			<img src="/img/Blog2.webp" width="350" height="540">
		     	 		</div>
		     	 		
		     	 		<div class="card-body" style="height: 320px;">
		     	 			<b>BÙNG NỔ XU HƯỚNG THỜI TRANG TỐI GIẢN - ÔNG HOÀNG POLO LÊN NGÔI</b>
		     	 			<p>Năm 2021 và 2022 có lẽ là 2 năm bùng nổ của những chiếc áo Polo thời thượng, sang trọng nhưng năng động, cá tính. 
		     	 			Từng mẫu áo, form dáng của Polo sẽ thể hiện được cá tính, màu sắc cũng như phong cách của mỗi một cá nhân. 
		     	 			Polo bây giờ không chỉ là sản phẩm dành cho độ tuổi trung niên niên nữa, nó đã được các nhà mốt trẻ hóa bằng các cải tiến rõ rệt
							về màu sắc, thiết kế kiểu dáng mới mẻ và tính ứng dụng rộng rãi hơn.</p>
		     	 		</div>
		     	 	</div>
		    	</div>
		    	
		    	<div class="col-4">
		      		<div class="card" style="border: none;">
		     	 		<div class="card-header text-center">
		     	 			<img src="/img/Blog3.webp" width="350" height="540">
		     	 		</div>
		     	 		
		     	 		<div class="card-body" style="height: 320px;">
		     	 			<b>ADVENTURE S22 - NÂNG CẤP THƯƠNG HIỆU - BƯỚC TIẾN MỚI, HÌNH ẢNH MỚI</b>
		     	 			<p>Ở Bộ Sưu Tập Adventure S22, Blook tập trung vào cải tiến, nâng cấp một hình ảnh thương hiệu mới toanh cũng như chất 
		     	 			lượng sản phẩm và dịch vụ, nhằm mang đến cho khách hàng trải nghiệm mua hàng tốt nhất và hài lòng nhất.</p>
		     	 		</div>
		     	 	</div>
		    	</div>
		  	</div>
		  	
		  	<div style="text-align: center; font-size: 12px " class="blog">
		  		<a class="button">XEM THÊM</a>
		  	</div>
		</div>
	</div>
</body>

</html>