<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="card">
		<div class="card" style="width: 100%; margin-top: 50px; text-align: center; font-size: 18px; padding: 20px 0px 10px 0px;">
  			<div class="row row-icon">
  				<div class="col">
  					<i class="fa-solid fa-car-side"></i>
  					<p>Miễn Phí vận chuyển</p>
  				</div>
  				
  				<div class="col">
  					<i class="fa-solid fa-tag"></i>
  					<p>Áp dụng giảm giá tích lũy thành viên</p>
  				</div>
  				
  				<div class="col">
  					<i class="fa-solid fa-cart-plus"></i>
  					<p>Giảm giá khi mua nhiều sản phẩm</p>
  				</div>
  				
  				<div class="col">
  					<i class="fa-solid fa-clock-rotate-left"></i>
  					<p>Hỗ trợ đổi hàng trong 7 ngày</p>
  				</div>
  			</div>
		</div>
	</div>
</body>

</html>